{% extends 'base.html' %}

{% block content %}    
    
    <h1>User Sign-up</h1>
    
    <form method='POST'>
        <table>
            <tr>
                <td><label class="form_label">Username</label></td>
            
                <td><input name="username" type="text" value='{{username}}' /> 
                <span class="error">{{username_error}} </span></td>
            </tr>   
        
            <tr>
                <td><label class="form_label">Password</label></td>
            
                <td><input name="password" type="password" value='{{password}}' />
                <span class="error">{{password_error}} </span></td>
            </tr>



            <tr>
                <td><label class="form_label">Password Validate</label></td>

                <td><input name="password_validate" type="password" value='{{password_validate}}' />
                <span class="error">{{password_validate_error}} </span></td>
            </tr>


            <tr>
                <td><label class="form_label">E-mail (optional)</td>

                <td><input name="email" type="text" value='{{email}}' />
                <span class="error">{{email_error}} </span></td>
                
            </tr>
        </table>
        <input class="submit" type="submit" value="Submit" />
    </form>

{% endblock %}  
 